{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="{% static 'stylealma.css' %}">
    <link rel="icon" href={% static "icons8-instagram-16.png" %} type= "image/x-icon">
</head>
<body>

    <header class="cabecalho">
        <a class="menu" href='/teste'>Menu</a>
        <div>AQUI</div>
        <div class="logo">Logo</div>
    </header>

    <div class= "divmaster">
        
        <div class= "divsfilhas">
            <p>aqui1</p>
        </div>
        <div class= "divsfilhas">
            <p>aqui2</p>
        </div>
        <div class= "divsfilhas divsfilhas2">
            <p>aqui3</p>
        </div>
        <div class= "divsfilhas">
            <p>aqui4</p>
        </div>
        <div class= "divsfilhas">
            <p>aqui5</p>
        </div>
        <div class= "divsfilhas">
            <p>aqui6</p>
        </div>
    </div>

   

</body>
</html>
